*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #403B4A;
    background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);
    background: linear-gradient(to right, #E7E9BB, #403B4A);

}
.site-head{
    font-family: sans-serif;
    font-weight: bold;
}
.form {
    display: flex;
    align-items: center;
}
.form__label {
    font-family: sans-serif;
    font-weight: bold;
}
.form__input {
    border: 2px solid black;
    padding: 8px;
    margin-left: 35px;
}
.form__button {
    border:2px solid black;
    padding: 8px;
    border-radius: 5px;
    margin-left: 30px;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.list__item {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    box-shadow: 1px 1px 5px blue;
    transition: transform 0.7s;
}
.list__item:hover {
    transform: scale(1.1,1.1);
    box-shadow: 2px 2px 50px blue;
}
.text{
    margin-top: 60px;
}
.car{
    position: absolute;
    top:28px;
    right: 0;
    left: 0;
    margin:auto;
}
.list__item + .list__item {
    margin-left: 80px;
}
.list__text{
    font-family: sans-serif;

}
.form__button{
    font-weight: bold;
    border: none;
    background: #005AA7;
    background: -webkit-linear-gradient(to left, #FFFDE4, #005AA7);
    background: linear-gradient(to left, #FFFDE4, #005AA7);

}
.form__button:hover{
    color: darkblue;
    background: #005AA7;
    background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);
    background: linear-gradient(to bottom, #FFFDE4, #005AA7);
}
.form__input{
    outline: none;
    border: none;
    border-radius:6px;
}
.form__input:focus {
    box-shadow: 2px 2px 20px blue;
}



.danger {
    color:red;
    animation-name:dange;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
}
@keyframes dange {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.02,1.02);
        text-shadow: 2px 2px 8px black;
    }
}

.normal {
    color: chartreuse;
    animation-name:norm;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
}
@keyframes norm {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.02,1.02);
        text-shadow: 2px 2px 8px black;
    }
}
.should {
    color:blue;
    animation-name:should;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
}
@keyframes should {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.02,1.02);
        text-shadow: 2px 2px 8px black;
    }
}
.good {
    color: #000;
    animation-name:blac;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
}
@keyframes blac {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.02,1.02);
        text-shadow: 2px 2px 8px black;
    }
}
.num-last {
    color: green;
    animation-name:last;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
}
@keyframes last {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.02,1.02);
        text-shadow: 2px 2px 8px black;
    }
}